<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::section}, ~{::css})}">
<head>
    <title>정보처리기사 실기</title>
    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </th:block>
</head>
<body>
    <section th:fragment="content">
        <!-- 바디 영역 -->
        <div class="body-section text-center my-5">
            <img src="/images/index.png" alt="웃으면서 점프를 뛰며 한 손을 주먹 쥐고 하늘을 향해 쭉 뻗는 사람 이미지" class="mb-4">
            <div class="welcome-message">
                <p class="h5">정보처리기사 눈 딱! 감고</p>
                <p class="h5">딱! 한번 최선을 다해 준비합시다</p>
                <p class="h5">한번에 합격! 하자~</p>
            </div>
        </div>
    </section>
</body>
</html> 