<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::section}, ~{::css})}">
<head>
    <title>정보처리기사 실기</title>
    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/practiceDetail.css}">
    </th:block>
</head>
<body>
    <section th:fragment="content">
        <!-- 바디 영역 -->
        <div class="body-section">
            <div class="row justify-content-center">
                <!-- 문제 목록 영역 -->
                <div class="col-md-10">
                    <div class="practice-container">
                        <div class="practice-item">
                            <h3>문제 1번 영역</h3>
                            <div class="practice-content">
                                문제 내용이 여기에 들어갑니다.
                            </div>
                        </div>
                        <div class="practice-item">
                            <h3>문제 2번 영역</h3>
                            <div class="practice-content">
                                문제 내용이 여기에 들어갑니다.
                            </div>
                        </div>
                        <div class="practice-item">
                            <h3>문제 3번 영역</h3>
                            <div class="practice-content">
                                문제 내용이 여기에 들어갑니다.
                            </div>
                        </div>
                        <div class="practice-item">
                            <h3>문제 n번 영역</h3>
                            <div class="practice-content">
                                문제 내용이 여기에 들어갑니다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html> 